In [1]:
import time
import pandas as pd
import numpy as np

In [2]:

Df_1 = pd.read_csv('chicago.csv').assign(City='chicago').set_index('City')
Df_2 = pd.read_csv('new_york_city.csv').assign(City='newyork').set_index('City')
Df_3 = pd.read_csv('washington.csv').assign(City='washington').set_index('City')

In [3]:
df=pd.concat([Df_1, Df_2,Df_3])

In [4]:
df

,Unnamed: 0,Start Time,End Time,Trip Duration,Start Station,End Station,User Type,Gender,Birth Year
City,,,,,,,,,
chicago,1423854,2017-06-23 15:09:32,2017-06-23 15:14:53,321.000,Wood St & Hubbard St,Damen Ave & Chicago Ave,Subscriber,Male,1992.0
chicago,955915,2017-05-25 18:19:03,2017-05-25 18:45:53,1610.000,Theater on the Lake,Sheffield Ave & Waveland Ave,Subscriber,Female,1992.0
chicago,9031,2017-01-04 08:27:49,2017-01-04 08:34:45,416.000,May St & Taylor St,Wood St & Taylor St,Subscriber,Male,1981.0
chicago,304487,2017-03-06 13:49:38,2017-03-06 13:55:28,350.000,Christiana Ave & Lawrence Ave,St. Louis Ave & Balmoral Ave,Subscriber,Male,1986.0
chicago,45207,2017-01-17 14:53:07,2017-01-17 15:02:01,534.000,Clark St & Randolph St,Desplaines St & Jackson Blvd,Subscriber,Male,1975.0
...,...,...,...,...,...,...,...,...,...
washington,945535,2017-04-26 03:12:14,2017-04-26 03:41:19,1745.528,Lincoln Memorial,Jefferson Dr & 14th St SW,Customer,NaN,NaN
washington,1495781,2017-06-11 09:48:52,2017-06-11 10:22:31,2018.450,Key Blvd & N Quinn St,5th & K St NW,Subscriber,NaN,NaN
washington,12860,2017-01-04 14:33:00,2017-01-04 14:43:00,583.897,17th & K St NW / Farragut Square,7th & F St NW/Portrait Gallery,Subscriber,NaN,NaN
washington,977621,2017-04-28 07:17:47,2017-04-28 07:56:31,2324.170,Jefferson Dr & 14th St SW,Washington & Independence Ave SW/HHS,Customer,NaN,NaN
washington,1553359,2017-06-16 04:08:16,2017-06-16 04:29:38,1281.459,10th & Monroe St NE,3rd & H St NW,Customer,NaN,NaN

In [5]:
df["Start Time"] = pd.to_datetime(df["Start Time"], format="%Y-%m-%d %H:%M")
df["End Time"] = pd.to_datetime(df["Start Time"], format="%Y-%m-%d %H:%M")

In [6]:
start_time = time.time()

df['Month'] = df['Start Time'].dt.strftime('%m')
df['Hour'] = df['Start Time'].dt.strftime('%H')
df['DayofWeak']=df['Start Time'].dt.day_name()
df['Day'] = df['Start Time'].dt.day

print("\nThis took %s seconds." % (time.time() - start_time))

This took 6.60785174369812 seconds.

In [7]:
def get_filters():  
    
    
    Flag= True
    while Flag:   
        City=input('Put your City: ').lower()  
        if City not in ['chicago','newyork','washington','none']:   
            print('city should be (chicago, newyork, washington) or "None" \n')
        else:  
            Flag= False
      
    print('▬'*40)
    
    
    
    Flag= True
    while Flag:   
        Month=input('Put your Month: ').lower()
        if Month == "none":
            break    
        if Month in ['01','02','03','04','05','06']: 
            Flag= False
        else:  
            print('Month should be num between [01:06] like 05 \n')
                    
    print('▬'*40)
    
    Flag= True
    while Flag: 
        
        Day=input('Put your Day: ' ).lower()
        if Day == "none":
            break 
        Day=int(Day)  
        if 1<= Day <=30:   
            Flag= False
        else:  
            print('Day should be num \n')       
                   
        
    print('▬'*40)
    return City,Month,Day

In [8]:
    Group_city=df.groupby(['City'])
    Group_Month=df.groupby(['Month'])
    Group_Day=df.groupby(['Day'])
    
    
    Group_City_Month=df.groupby(['City', 'Month'])
    Group_Day_Month=df.groupby(['Day', 'Month'])
    Group_City_Day=df.groupby(['City', 'Day'])

In [9]:
def time_stats(City,Month,Day):
     
        
    if City !='none':  
        filter_city=Group_city.get_group(City)
        most_month_city = filter_city['Month'].value_counts().idxmax()
        most_hour_city = filter_city['Hour'].value_counts().idxmax()
        most_day_city = filter_city['DayofWeak'].value_counts().idxmax()
        
        most_Start_Station = filter_city['Start Station'].value_counts().idxmax()
        most_End_Station = filter_city['End Station'].value_counts().idxmax()
        
        total_travel_time = filter_city['Trip Duration'].sum()
        average_travel_time = filter_city['Trip Duration'].mean()
        User_Type = filter_city['User Type'].value_counts()
        
        
        print("Most Common Month for 'Start Time' is " , most_month_city ,"in", City)
        print("Most Common Hour for 'Start Time' is " , most_hour_city,"in", City)
        print("Most Common DayofWeak for 'Start Time' is " , most_day_city,"in", City)
        print(' '*40)
        print("Most Common Start_Station is " , most_Start_Station,"in", City)
        print("Most Common End_Station is " , most_End_Station,"in", City)
        print(' '*40)
        print("total_travel_time is " , total_travel_time,"in", City)
        print("average_travel_time is " , average_travel_time,"in", City)
        print("User_Type is\n" , User_Type,"in", City)
        
        print(' '*40)
        print('▬'*40)
    
    if Month !='none':
        
        filter_Month = Group_Month.get_group(Month)
        most_day_Month =filter_Month['DayofWeak'].value_counts().idxmax()
        most_hour_Month =filter_Month['Hour'].value_counts().idxmax()
        
        most_Start_Station=filter_Month['Start Station'].value_counts().idxmax()
        most_End_Station=filter_Month['End Station'].value_counts().idxmax()
        
        total_travel_time = filter_Month['Trip Duration'].sum()
        average_travel_time = filter_Month['Trip Duration'].mean()
        
        User_Type = filter_Month['User Type'].value_counts()
        
        
        print("Most Common Hour for 'Start Time' is " , most_hour_Month,"in Month ", Month)
        print("Most Common DayofWeak for 'Start Time' is " , most_day_Month,"in Month ", Month)
        print(' '*40)
        print("Most Common Start_Station is " , most_Start_Station,"in Month ", Month)
        print("Most Common End_Station is " , most_End_Station,"in Month ", Month)
        print(' '*40)
        print("total_travel_time is " , total_travel_time,"in Month ", Month)
        print("average_travel_time is " , average_travel_time,"in Month ", Month)
        print(' '*40)
        print("User_Type is\n" , User_Type,"in Month ", Month)
        print(' '*40)
        print('▬'*40)
    
    if Day !='none':
        
        filter_Day = Group_Day.get_group(Day)
        most_month_day=filter_Day['Month'].value_counts().idxmax()
        most_hour_day=filter_Day['Hour'].value_counts().idxmax()
        
        most_Start_Station=filter_Day['Start Station'].value_counts().idxmax()
        most_End_Station=filter_Day['End Station'].value_counts().idxmax()
        
        total_travel_time = filter_Day['Trip Duration'].sum()
        average_travel_time = filter_Day['Trip Duration'].mean()
        
        User_Type = filter_Day['User Type'].value_counts()
        
        print("Most Common Month for 'Start Time' is " , most_month_day,"in Day", Day)
        print("Most Common Hour for 'Start Time' is " , most_hour_day,"in Day", Day)
        print(' '*40)
        print("Most Common Start_Station is " , most_Start_Station,"in Day ", Day)
        print("Most Common End_Station is " , most_End_Station,"in Day ", Day)
        print(' '*40)
        print("total_travel_time is " , total_travel_time,"in Day ", Day)
        print("average_travel_time is " , average_travel_time,"in Day ", Day)
        print(' '*40)
        print("User_Type is\n" , User_Type,"in Day ", Day)        
        print(' '*40)
        print('▬'*40)

    
    if City !='none' and Month !='none':
        
        filter_City_Month = Group_City_Month.get_group((City,Month))
        most_hour_City_Month=filter_City_Month['Hour'].value_counts().idxmax()
        most_day_City_Month =filter_City_Month['DayofWeak'].value_counts().idxmax()
        
        most_Start_Station_City_Month =filter_City_Month['Start Station'].value_counts().idxmax()
        most_End_Station_City_Month =filter_City_Month['End Station'].value_counts().idxmax()
        
        total_travel_time = filter_City_Month['Trip Duration'].sum()
        average_travel_time = filter_City_Month['Trip Duration'].mean()
        
        User_Type = filter_City_Month['User Type'].value_counts()
        
        print("Most Common Hour for 'Start Time' is " , most_hour_City_Month,"in City", City,"and in Month", Month)
        print("Most Common DayofWeak for 'Start Time' is " , most_day_City_Month,"in City", City,"and in Month", Month)
        print("Most Common Station_City' is " , most_Start_Station_City_Month,"in City", City,"and in Month", Month)
        print(' '*40)
        print("Most Common End_Station' is " , most_End_Station_City_Month,"in City", City,"and in Month", Month)    
        print(' '*40)
        print("total_travel_time is " , total_travel_time,"in City", City,"and in Month", Month)
        print("average_travel_time is " , average_travel_time,"in City", City,"and in Month", Month)
        print(' '*40)
        print("User_Type is\n" , User_Type,"in City", City,"and in Month", Month)
        print(' '*40)
        print('▬'*40)
        
    if Day !='none' and Month !='none':
        
        filter_Day_Month = Group_Day_Month.get_group((Day,Month))
        most_hour_Day_Month=filter_Day_Month['Hour'].value_counts().idxmax()
        most_City_Day_Month =filter_Day_Month.groupby(["City"]).size().idxmax()
        most_DayWeak_Day_Month =filter_Day_Month['DayofWeak'].value_counts().idxmax()
        
        most_Start_Station_Day_Month =filter_Day_Month['Start Station'].value_counts().idxmax()
        most_End_Station_Day_Month =filter_Day_Month['End Station'].value_counts().idxmax()
        
        total_travel_time = filter_Day_Month['Trip Duration'].sum()
        average_travel_time = filter_Day_Month['Trip Duration'].mean()
        
        User_Type = filter_Day_Month['User Type'].value_counts()
        
        print("Most Common Hour for 'Start Time' is " , most_hour_Day_Month,"in Day", Day,"and in Month", Month)
        print("Most Common City for 'Start Time' is " , most_City_Day_Month,"in Day", Day,"and in Month", Month)
        print("Most Common DayofWeak for 'Start Time' is " , most_DayWeak_Day_Month,"in Day", Day,"and in Month", Month)
        print(' '*40)
        print("Most Common Station_City' is " , most_Start_Station_Day_Month,"in Day", Day,"and in Month", Month)
        print("Most Common End_Station' is " , most_End_Station_Day_Month,"in Day", Day,"and in Month", Month)
        print(' '*40)
        print("total_travel_time is " , total_travel_time,"in Day", Day,"and in Month", Month)
        print("average_travel_time is " , average_travel_time,"in Day", Day,"and in Month", Month)
        print(' '*40)
        print("User_Type is\n" , User_Type,"in Day", Day,"and in Month", Month)
        print(' '*40)
        print('▬'*40)
        
    if City !='none' and Day !='none':
        filter_City_Day = Group_City_Day.get_group((City,Day))
        most_hour_City_Day=filter_City_Day['Hour'].value_counts().idxmax()
        most_DayofWeaky_City_Day =filter_City_Day['DayofWeak'].value_counts().idxmax()
        
        most_Start_Station_City_Day =filter_City_Day['Start Station'].value_counts().idxmax()
        most_End_Station_City_Day =filter_City_Day['End Station'].value_counts().idxmax()
        
        total_travel_time = filter_City_Day['Trip Duration'].sum()
        average_travel_time = filter_City_Day['Trip Duration'].mean()

        User_Type = filter_City_Day['User Type'].value_counts()
        
        print("Most Common Hour for 'Start Time' is " , most_hour_City_Day,"in Day", Day,"and in Month", Month)
        print("Most Common DayofWeak for 'Start Time' is " , most_DayofWeaky_City_Day,"in Day", Day,"and in Month", Month)
        print(' '*40)
        print("Most Common Station_City' is " , most_Start_Station_City_Day,"in Day", Day,"and in Month", Month)
        print("Most Common End_Station' is " , most_End_Station_City_Day,"in Day", Day,"and in Month", Month)
        print(' '*40)
        print("total_travel_time is " , total_travel_time,"in Day", Day,"and in Month", Month)
        print("average_travel_time is " , average_travel_time,"in Day", Day,"and in Month", Month)
        print(' '*40)
        print("User_Type is\n" , User_Type,"in Day", Day,"and in Month", Month)
        print(' '*40)
        print('▬'*40)
        
        
    Gender_NYC_Chic=pd.concat([Group for (name, Group) in Group_city if name in ['chicago', 'newyork']])['Gender'].value_counts()
    Gender_Chic= Group_city.get_group('chicago')['Gender'].value_counts()
    Gender_NYC= Group_city.get_group('newyork')['Gender'].value_counts()
    
    print('Gender in NEWYORK and Chicago\n',Gender_NYC_Chic)
    print('▬'*40)
    print('Gender in NEWYORK\n',Gender_NYC)
    print('▬'*40)
    print('Gender in NEWYORK\n',Gender_Chic)
    print('▬'*40)

In [10]:
def main():
    City, Month, Day = get_filters()
    time_stats(City,Month,Day)

In [11]:
#Group_City_Month=df.groupby(['City', 'Month'])
#Group_City_Month.get_group(('chicago',washington,'05'))

In [12]:
main()

Put your City: chicago
▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬
Put your Month: 06
▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬
Put your Day: 17
▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬
Most Common Month for 'Start Time' is  06 in chicago
Most Common Hour for 'Start Time' is  17 in chicago
Most Common DayofWeak for 'Start Time' is  Tuesday in chicago

Most Common Start_Station is  Streeter Dr & Grand Ave in chicago
Most Common End_Station is  Streeter Dr & Grand Ave in chicago

total_travel_time is  280871787.0 in chicago
average_travel_time is  936.23929 in chicago
User_Type is
 Subscriber    238889
Customer       61110
Dependent          1
Name: User Type, dtype: int64 in chicago

▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬
Most Common Hour for 'Start Time' is  08 in Month  06
Most Common DayofWeak for 'Start Time' is  Thursday in Month  06

Most Common Start_Station is  Streeter Dr & Grand Ave in Month  06
Most Common End_Station is  Streeter Dr & Grand Ave in Month  06

total_travel_time is  273304582.746 in Month  06
average_travel_time is  1127.2988291880056 in Month  06

User_Type is
 Subscriber    186813
Customer       55629
Name: User Type, dtype: int64 in Month  06

▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬
Most Common Month for 'Start Time' is  05 in Day 17
Most Common Hour for 'Start Time' is  08 in Day 17

Most Common Start_Station is  Streeter Dr & Grand Ave in Day  17
Most Common End_Station is  Streeter Dr & Grand Ave in Day  17

total_travel_time is  30268350.549 in Day  17
average_travel_time is  1001.5336691483031 in Day  17

User_Type is
 Subscriber    24556
Customer       5655
Name: User Type, dtype: int64 in Day  17

▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬
Most Common Hour for 'Start Time' is  17 in City chicago and in Month 06
Most Common DayofWeak for 'Start Time' is  Friday in City chicago and in Month 06
Most Common Station_City' is  Streeter Dr & Grand Ave in City chicago and in Month 06

Most Common End_Station' is  Streeter Dr & Grand Ave in City chicago and in Month 06

total_travel_time is  102702796.0 in City chicago and in Month 06
average_travel_time is  1047.1222357031434 in City chicago and in Month 06

User_Type is
 Subscriber    72436
Customer      25645
Name: User Type, dtype: int64 in City chicago and in Month 06

▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬
Most Common Hour for 'Start Time' is  11 in Day 17 and in Month 06
Most Common City for 'Start Time' is  chicago in Day 17 and in Month 06
Most Common DayofWeak for 'Start Time' is  Saturday in Day 17 and in Month 06

Most Common Station_City' is  Streeter Dr & Grand Ave in Day 17 and in Month 06
Most Common End_Station' is  Streeter Dr & Grand Ave in Day 17 and in Month 06

total_travel_time is  9542790.061 in Day 17 and in Month 06
average_travel_time is  1427.4929036649223 in Day 17 and in Month 06

User_Type is
 Subscriber    4044
Customer      2641
Name: User Type, dtype: int64 in Day 17 and in Month 06

▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬
Most Common Hour for 'Start Time' is  17 in Day 17 and in Month 06
Most Common DayofWeak for 'Start Time' is  Saturday in Day 17 and in Month 06

Most Common Station_City' is  Streeter Dr & Grand Ave in Day 17 and in Month 06
Most Common End_Station' is  Streeter Dr & Grand Ave in Day 17 and in Month 06

total_travel_time is  10762557.0 in Day 17 and in Month 06
average_travel_time is  932.1459379871817 in Day 17 and in Month 06

User_Type is
 Subscriber    9140
Customer      2406
Name: User Type, dtype: int64 in Day 17 and in Month 06

▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬
Gender in NEWYORK and Chicago
 Male      385198
Female    124541
Name: Gender, dtype: int64
▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬
Gender in NEWYORK
 Male      204008
Female     66783
Name: Gender, dtype: int64
▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬
Gender in NEWYORK
 Male      181190
Female     57758
Name: Gender, dtype: int64
▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬

In [13]:
Group_Day_Month.get_group((1,"02")).groupby(["City"]).size().idxmax()

'newyork'

In [14]:
df['Month'] = df['Start Time'].dt.strftime('%m').dt.month_name()

AttributeError: Can only use .dt accessor with datetimelike values

In [ ]:
Group_City_Month['Hour'].value_counts().idxmax()

In [ ]:
Group_city

In [ ]:
filter_Day = Group_Day.get_group(0)

In [ ]:
filter_Day['Month'].value_counts().idxmax()

In [ ]:
filter_Day['Hour'].value_counts().idxmax()

In [ ]:
filter_Day['DayofWeak'].value_counts().idxmax()

In [ ]:
Group_city=df.groupby(['City'])

In [ ]:
filter_city = Group_city.get_group('chicago')

In [ ]:
filter_city['Month'].value_counts().idxmax()

In [ ]:
filter_city['Hour'].value_counts().idxmax()

In [ ]:
filter_city['DayofWeak'].value_counts().idxmax()

In [ ]:
filter_city['Start Station'].value_counts().idxmax()

In [ ]:
filter_city['End Station'].value_counts().idxmax()

In [ ]:
filter_city['Trip Duration'].sum()

In [ ]:
filter_city['Trip Duration'].mean()

In [ ]:
filter_city['User Type'].value_counts()

In [ ]:
Gender_NYC_Chic=pd.concat([Group for (name, Group) in Group_city if name in ['chicago', 'new_york']])['Gender'].value_counts()
print('Gender in NewYork and Chicago \n',Gender_NYC_Chic)